*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(233, 233, 233);
}
body{
  background-color: rgb(38, 43, 78);
}
h1{
  text-align: center;
}
input{
  margin: 10px;
  width: 100%;
  color: black;
}
.App {
  display: flex;
  justify-content: center;
}
.btn{
  margin: 10px;
  width: 100%;
  padding: 3px;
  color: black
}
